@import "styles/styleguide/variables.scss";
@import "styles/styleguide/mixins.scss";

.successRoot {
  // overflow: scroll;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  font-family: $font-dm-sans;
  .contentContainer {
    @include flex-center-center;
    min-width: 100vw;
    .mainContainer {
      height: 100vh;
      .contentSpacing {
        padding: 20px 0;
      }
      .contentSpacingHeading {
        //padding: 20px 0;
      }
      .contentWidth {
        max-width: 350px;
      }
      .imageContainer {
        @include flex-center-center;
        margin: 1rem 0;
        color: $white-color;
        width: 100%;
        .imageLight {
          min-width: 300px;
        }
      }
      .heading {
        font-family: $font-dm-sans;
        font-style: normal;
        font-weight: 700;
        font-size: $aaaaaaa-font;
        word-wrap: break-word;
        text-align: center;
        width: 100%;
        color: #1B2645;
        margin: 0;
      }
      .text {
        font-family: $font-dm-sans;
          font-style: normal;
          font-weight: 400;
          font-size: $aaaa-font;
          text-align: center;
          color: #85878C;
          margin-top: 10px;
          padding: 0;
      }
      .textCenter {
        text-align: center;
        width: 100%;
      }
      .textBold {
        font-weight: bold;
        line-height: 120%;
      }
      .textLight {
        color: $dark-grey-color;
      }
      .badgeContainer {
        justify-content: space-between;
      }
      .smallImageContainer {
        width: 45%;
        min-width: 150px;
      }
      .imageSizing {
        cursor: pointer;
        width: 100%;
        min-width: 140px;
        max-width: 175px;
      }
    }
  }
}
