.env
.idea
/.history
/node_modules
/build*
.idea/*
npm-debug.log.*
/documentation
LICENSE.md
README.md
ISSUE_TEMPLATE.md
CHANGELOG.md
yarn-error.log
package-lock.json
coverage/*
report.json
test-report.xml
.DS_store