@import "../variables.scss";

@mixin button-common-style() {
  font-family: $font-dm-sans;
  border-radius: 28px;
  font-size: $aaaaa-font;
  font-weight: 700;
  text-transform: none;
  height: 3.5rem;
  box-shadow: none;
  outline: none;
  position: relative;
  text-align: center;
  width: 400px;
  @include respond-below(xs) {
    width: 100%;
  }
}
