@import "styles/styleguide/variables.scss";
@import "styles/styleguide/mixins.scss";

.sliderContainer{
  font-family: $font-dm-sans;
  font-size: $aaaaaa-font;
  text-transform: none;
  padding: 20px;
  border:1px solid #E7E7E7;
  border-radius: 8px;
  max-width: 350px;
  min-width: 350px;
  margin-bottom: 10px;
  .sliderLables{
    display: flex;
    justify-content: space-between;
    .label{
      color:#85878C;
      font-size: 14px;
    }
  }
}